# Site Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Admin panel password (default: kabod@2020)
ADMIN_PASSWORD=kabod@2020

# Add your environment variables below
# DATABASE_URL=
# NEXTAUTH_SECRET=
# NEXTAUTH_URL=http://localhost:3000
